<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">311 Visualization</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="graph">Features</a></li>
                  <li><a href="about">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Vincent Chen</h1>
            <p class="lead">Front End</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">
                I make sure the data you are presented with doesn't hurt your eyes.
              </a>
            </p>
          </div>
		  
          <div class="inner cover">
            <h1 class="cover-heading">Pablo Rivera</h1>
            <p class="lead">Database Administrator, Data Wrangler</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">
                I make sure data is handled safely and represented accurately.
              </a>
            </p>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Abdullah Khan</h1>
            <p class="lead">Team Leader, Full Stack</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">I get to decide the tech we use.</a>
            </p>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Shafiul Ahmed</h1>
            <p class="lead">Back End, Data Wrangler</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">
                I work on the back end and also work on database operations.
              </a>
            </p>
          </div>
		  
          <div class="mastfoot">
            <div class="inner">
             <p>Update names or stuff here</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/creative.min.js"></script>
  </body>
</html>
