
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
	
    <title>Graphs</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/cover.css" rel="stylesheet">

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">311 Visualization</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="graph">Features</a></li>
                  <li><a href="about">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Interesting graphs</h1>
            <canvas id="chart1"></canvas>
				<script>
					var ctx = document.getElementById("chart1").getContext('2d');
					var chart1 = new Chart(ctx, {
					type: 'pie',
					data: {
					labels: ["M", "T", "W", "T", "F", "S", "S"],
					datasets: [{
					backgroundColor: [
						"#2ecc71",
						"#3498db",
						"#95a5a6",
						"#9b59b6",
						"#f1c40f",
						"#e74c3c",
						"#34495e"
					],
						data: [12, 19, 3, 17, 28, 24, 7]
					}]
					}
				});
			</script>
          </div>

		   <div class="inner cover">
            <h1 class="cover-heading">Top 10 Complaints</h1>
            <canvas id="chart2"></canvas>
				<script>
					var ctx = document.getElementById("chart2").getContext('2d');
					var chart2 = new Chart(ctx, {
					type: 'doughnut',
					data: {
					labels: ["Noise - Residential", "HEAT/HOT WATER", "Illegal Parking", "Blocked Driveway", "Street Condition", "Street Light Condition", "Water System", "UNSANITARY CONDITION", "Noise - Street/Sidewalk", "PAINT/PLASTER"],
					datasets: [{
					backgroundColor: [
						"#2ecc71",
						"#3498db",
						"#95a5a6",
						"#9b59b6",
						"#f1c40f",
						"#e74c3c",
						"#34495e",
						"#FF0000",
						"#800000",
						"#FFA07A"
						
					],
						data: [158448, 133562, 84950, 80338, 70770, 64993, 57551, 57199, 47773, 42655]
					}]
					}
				});
			</script>
          </div>
		  
          <div class="mastfoot">
            <div class="inner">
              <p>Update names or stuff here</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/creative.min.js"></script>
  </body>
</html>
