<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.css">
    <script src="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map { width: 100vw; height: 100vh; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="../static/dist/leaflet-heat.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<body>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([40.768890, -73.964789], 12);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

    // Sample button.
    var zoom = L.easyButton({
        states: [{
                    stateName: 'zoom-in',        // name the state
                    icon:      '<strong>Z+</strong>',               // and define its properties
                    title:     'Zoom in on Hunter College.',      // like its title
                    onClick: function(btn, map) {       // and its callback
                        map.setView([40.768890, -73.964789],20);
                        btn.state('zoom-out');    // change state on click!
                    }
                },
                {
                    stateName: 'zoom-out',
                    icon:      '<strong>Z-</strong>',
                    title:     'Zoom out on Hunter College',
                    onClick: function(btn, map) {
                        map.setView([40.768890, -73.964789],12);
                        btn.state('zoom-in');
                    }
                }]
            });

    beecoordinates = [];
    var bees = $.getJSON("/bees", function(doc) {
        console.log(doc.length);
        for (var i = 0; i < doc.length; ++i) {
            beecoordinates.push([doc[i].Latitude, doc[i].Longitude, "10"]);
        }
    });
    var beeheat = L.heatLayer(beecoordinates);

    noisecoordinates = [];
    var noise = $.getJSON("/query/Noise - Residential", function(doc) {
        console.log(doc.length);
        for (var i = 0; i < doc.length; ++i) {
            noisecoordinates.push([doc[i].Latitude, doc[i].Longitude, "4"]);
        }
    });
    var noiseheat = L.heatLayer(noisecoordinates);

    var togglebees = L.easyButton({
        states: [{
                    stateName: 'toggle-bees-on',        // name the state
                    icon:      '<strong>Bees On</strong>',               // and define its properties
                    title:     'Toggle bees on.',      // like its title
                    onClick: function(btn, map) {       // and its callback
                        map.addLayer(beeheat);
                        btn.state('toggle-bees-off');                        
                    }
                },
                {
                    stateName: 'toggle-bees-off',
                    icon:      '<strong>Bees Off</strong>',
                    title:     'Toggle bees off.',
                    onClick: function(btn, map) {
                        map.removeLayer(beeheat);
                        btn.state('toggle-bees-on');
                    }
                }]
            });
    togglebees.button.style.width = '75px'

    var toggleNoise = L.easyButton({
        states: [{
                    stateName: 'toggle-noise-on',        // name the state
                    icon:      '<strong>Residential Noise On</strong>',               // and define its properties
                    title:     'Toggle Noise requests on.',      // like its title
                    onClick: function(btn, map) {       // and its callback
                        map.addLayer(noiseheat);
                        btn.state('toggle-noise-off');                        
                    }
                },
                {
                    stateName: 'toggle-noise-off',
                    icon:      '<strong>Residential Noise Off</strong>',
                    title:     'Toggle Noise requests off.',
                    onClick: function(btn, map) {
                        map.removeLayer(noiseheat);
                        btn.state('toggle-noise-on');
                    }
                }]
            });
    toggleNoise.button.style.width = '160px'

    zoom.addTo(map);
    togglebees.addTo(map);
    toggleNoise.addTo(map);

    // // Get the JSON object of the query at the following URL.
    // coordinates = [];
    // var bees = $.getJSON("http://localhost:5000/bees", function(doc) {
    //     console.log(doc.length);
    //     for (var i = 0; i < doc.length; ++i) {
    //         coordinates.push([doc[i].Latitude, doc[i].Longitude, "10"]);
    //     }
    //     var heat = L.heatLayer(coordinates).addTo(map);
    // });

</script>
</body>

</html>
