<!DOCTYPE html>
<html>
<head>
<title>Interactive Service Request Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.css">
    <script src="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.js"></script>
    <link rel="stylesheet" href="../static/src/leaflet-search.css" />
    <script src="../static/js/leaflet-search.js"></script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map { width: 100vw; height: 100vh; }
        .leaflet-heatmap-layer { opacity: .60; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="../static/dist/leaflet-heat.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<body>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([40.768890, -73.964789], 16);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

        function searchByAjax(text, callResponse) // callback for 3rd party ajax reqs
        {
            map.eachLayer(function (layer) {
                map.removeLayer(layer);
            });
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
            return $.ajax({
                url: 'search/'+text,
                type: 'GET',
                dataType: 'json',
                success: function(json) {
                    var searchquery = [];
                    for (var i = 0; i < json.length; ++i) {
                        searchquery.push([json[i].Latitude, json[i].Longitude, 10]);
                    }
                    map.addLayer(L.heatLayer(searchquery));
                }
            });
        }

        var clearmap = L.easyButton('<strong>Reset</strong>', function(btn, map){
                map.eachLayer(function (layer) {
                    map.removeLayer(layer);
                });
                L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
            }
        );
        clearmap.button.style.width = '50px'

        var togglewater = L.easyButton({
            states: [{
                        stateName: 'toggle-watersys-on',
                        icon:      '<strong style="color:#008000">Water Issues On</strong>',
                        title:     'Toggle water system on.',
                        onClick: function(btn, map) {
                            searchByAjax('water');
                            btn.state('toggle-watersys-off');
                        }
                    },
                    {
                        stateName: 'toggle-watersys-off',
                        icon:      '<strong style="color:#800000">Water Issues Off</strong>',
                        title:     'Toggle water system off.',
                        onClick: function(btn, map) {
                            map.eachLayer(function (layer) {
                                map.removeLayer(layer);
                            });
                            btn.state('toggle-watersys-on');
                            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
                        }
                    }]
                });
        togglewater.button.style.width = '120px'

        var togglebees = L.easyButton({
            states: [{
                        stateName: 'toggle-bees-on',        // name the state
                        icon:      '<strong style="color:#008000">Bees</strong>',               // and define its properties
                        title:     'Toggle bees on.',      // like its title
                        onClick: function(btn, map) {       // and its callback
                            searchByAjax('bees');
                            btn.state('toggle-bees-off');                        
                        }
                    },
                    {
                        stateName: 'toggle-bees-off',
                        icon:      '<strong style="color:#800000">Bees</strong>',
                        title:     'Toggle bees off.',
                        onClick: function(btn, map) {
                            map.eachLayer(function (layer) {
                                map.removeLayer(layer);
                            });
                            btn.state('toggle-bees-on');
                            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
                        }
                    }]
                });
        togglebees.button.style.width = '75px'

        var toggleNoise = L.easyButton({
            states: [{
                        stateName: 'toggle-noise-on',
                        icon:      '<strong style="color:#008000">Noise On</strong>',
                        title:     'Toggle Noise requests on.',
                        onClick: function(btn, map) {
                            searchByAjax('noise');
                            btn.state('toggle-noise-off');                        
                        }
                    },
                    {
                        stateName: 'toggle-noise-off',
                        icon:      '<strong style="color:#800000">Noise Off</strong>',
                        title:     'Toggle Noise requests off.',
                        onClick: function(btn, map) {
                            map.eachLayer(function (layer) {
                                map.removeLayer(layer);
                            });
                            btn.state('toggle-noise-on');
                            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);
                        }
                    }]
                });
        toggleNoise.button.style.width = '80px'


        clearmap.addTo(map);
        togglebees.addTo(map);
        toggleNoise.addTo(map);
        togglewater.addTo(map);
        map.addControl( new L.Control.Search({sourceData: searchByAjax, markerLocation: false}));

        // // Get the JSON object of the query at the following URL.
        // coordinates = [];
        // var bees = $.getJSON("http://localhost:5000/bees", function(doc) {
        //     console.log(doc.length);
        //     for (var i = 0; i < doc.length; ++i) {
        //         coordinates.push([doc[i].Latitude, doc[i].Longitude, "10"]);
        //     }
        //     var heat = L.heatLayer(coordinates).addTo(map);
        // });

</script>
</body>

</html>
